---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
	<!-- Page -->
	{%- if page.show_page_header -%}
		{% assign article-class = "" %}
	{%- else -%}
		{% assign article-class = "no-header" %}
	{%- endif -%}
	<article class={{ article-class }}>
	  <div class="container full-width">
			{%- if page.show_page_header -%}
				<header>
					<h2>{{- page.title -}}</h2>
					{%- if page.subtitle -%}<p>{{- page.subtitle -}}</p>{%- endif -%}		
				</header>
			{%- endif -%}
	    {{- content -}}
	  </div>
	</article>
</div>